body{
	background-image: url(assets/images/bk3.jpg);
	background-size: 100%;
}

#head{
	text-align: center;
	color: white;
	font-family: 'Roboto Slab';
	font-weight: 700;
}

#instructions{
	background-color: black;
	opacity: .6;
}
	p {
		text-align: left;
		margin: 20px auto;
		width: 55%;
		line-height: 160%;
		color: white;
	}

#matchBoard{
	border: 1px solid red;
	margin: 5px auto;
	color:	#ff0065;
	background-color: white;
	text-align: center;
	width: 5%;
	opacity: .7;
	font-size: 2.5em;
}

#guess{
	margin: auto;
}

#board{
	border: 1px solid red;
	margin: 5px auto;
	color:	#ff0065;
	background-color: white;
	text-align: center;
	width: 5%;
	opacity: .7;
}

#crystals{
	margin: 50px auto;
	width: 50%;

}
		#crystal1{
			float: left;
		}

		#crystal2{
			float: left;
		}

		#crystal3{
			float: right;
		}

		#crystal4{
			float: right;
		}
#board2{
	border: 1px solid red;
	margin: 5px auto;
	color:	#ff0065;
	background-color: white;
	text-align: center;
	width: 5%;
	opacity: .7;
	font-size: 2.5em;
}
